* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oxygen", sans-serif;
    background-color: #F7F7F7;
}
.container {
    max-width: 970px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background: url("../images/hero.svg") no-repeat center center/cover;
}

.top-nav {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.logo {
    font-family: "Lora", serif;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}

.nav-link  {
    color: white;
    text-transform: uppercase;
    margin: 0 20px;
    text-decoration: none;
    font-size: 12px;
}

.hero-text {
    text-align: center;
}

.hero-text h2 {
    font-family: "Lora", serif;
    font-size: 50px;
    line-height: 51px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 17px;
    color: rgba(255, 255, 255, 63%);
    margin-bottom: 31px;
}

.btn {
    background-color: #DD783F;
    font-size: 13px;
    color: #fff;
    padding: 12px 31px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.categories-list{
    display: flex;
    justify-content: space-evenly;
    margin-top: 22px;
}
.categories-list a{
    font-family: "Lora", serif;
    font-size: 14px;
    color: rgba(118, 128, 136, 1);
    margin-bottom: 22px;
    text-decoration: none;
}
#featured-product {
    padding-top: 60px ;
}
.section-title{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    color: #2e2e2e
}
.section-title:before {
    content: "";
    position: absolute;
    width: 188px;
    height: 1px;
    background-color: #dedede;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);

}

.first-title{
    position: relative;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: center;
    color: #2e2e2e
}
.first-title:before {
    content: "";
    position: absolute;
    width: 188px;
    height: 1px;
    background-color: #dedede;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
}
.adventure{
    position: absolute;
    width: 87px;
    height: 26px;
    left: 20px;
    top: 20px;
    border-radius: 2px;
    background:  rgba(221, 120, 63, 1);
    font-family: "Lora", serif;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    padding: 6px 9px 6px 9px;
}
.col-2{
    width: 50%;
    padding: 0 10px 0 10px;
}
.most-recent{
    padding-top: 60px;
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

}

.col-3{
    width: 33.3333%;
    padding: 0 10px 0 10px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;

}

.post-card{
    height: 280px;
    background-size: cover;
    background-position: center;
    border-radius: 3px;
    padding: 19px 20px;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
    display: flex;
    position: relative;
}
.post-card h3{
    font-family: "Lora", serif;
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 6px;
}

.post-card p{
    font-size: 14px;
    color: rgba(255, 255, 255, 70%);
    margin-bottom: 12px;
}

.meta-data{
    display: flex;
    justify-content: space-between;
}
.meta-data-author{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.meta-data-author span{
    margin-right: 10px;
}
.recent-card{
    height: 100%;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    margin-bottom: 10px;
    display: flex;
}
.recent-card-image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.recent-card-content{
    padding: 14px 13px 33px;
    border-bottom: 1px solid rgba(239, 239, 239, 1);
    flex: 1;
}
.recent-card-content h4{
    font-family: "Lora", serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(16, 19, 21, 1);
}
.recent-card p{
    font-family: "Lora", serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(122, 122, 122, 1);
    padding-top: 6px;
}
.recent-meta-author{
    display: flex;
    align-items: center;
}
.recent-content{
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    margin-left: 13px;
    margin-bottom: 6px;
    background: rgba(252, 252, 252, 1);
}
.author{
    padding-left: 10px;
}
.date{
    font-family: "Lora", serif;
    font-size: 12px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    margin-top: 7px;
    padding-bottom: 6px;
    padding-right: 13px;
}
.recent-meta-author span{
    font-family: "Lora", serif;
    font-size: 11px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
}
.bottom-wrapper{
    text-align: center;
}
#stay-in-touch h2{
    padding-top: 81px;
    font-family: "Lora", serif;
    font-size: 25px;
    color: rgba(239, 239, 239, 1);
    margin-top: 7px;
    padding-bottom: 6px;
    padding-right: 13px;
}
.bottom-wrapper{
    background: url("../images/footer.png" ) no-repeat center center/cover;
    margin-top: 89px;
    position: relative;
    height: 378px;
}
.wrapper-form{
    position: relative;
    width: 500px;
    margin: 0 auto;
}
.wrapper-form input{
    width: 100%;
    padding: 18px 35px;
    background: rgba(255, 255, 255, 1);
    height: 50px;
    font-size: 12px;
    color: rgba(129, 127, 131, 1);
    border-radius: 3px 0 0 3px;
    border: none;
}
.wrapper-form button{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 50px;
    width: 125px;
    background: rgba(248, 248, 248, 1);
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 0 3px 3px 0;
    border: none;
}
.footer-nav{
    position: absolute;
    top: 31px;*
margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.footer{
    position: relative;
    height: 89px;
    background: rgba(35, 47, 56, 0.6);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.bottom-nav{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}


.footer-nav-links a{
    color: white;
    text-transform: uppercase;
    margin: 0 20px;
    text-decoration: none;
    font-size: 12px;
}

.footer-logo
{
    font-family: "Lora", serif;
    font-size: 26px;
    color: #fff;
    text-decoration: none;
}
